$width: 200px;
$height: 300px;


:host {

  .beer-list {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 640px) {
      flex-direction: row;
    }

    &-item {
      width: 350px;
      padding: 0px 15px;
    }
  }


}
